@charset 'utf-8';

body {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

.video-section {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-video {
  width: 100%;
}